{% extends 'base.html' %}

{% block content%}
{% if error%}
{{error}}
<br/>
<br/>
{% endif %}

{% load static %}

<div style="border-left:2px solid #000000;border-right:2px solid #000000;border-bottom:2px solid #000000;border-top:4px solid #000000; padding:2px 0px 2px 2px">
<div class="row" >
  <div class="col-12 col-sm-4 align-self-center">
  <div class="col-12 col-sm-7 align-self-center">
<br/>
    Nmae:{{product.name}}<br/>
    Age:{{product.age}}<br/>
    Division:{{product.division}}
</div>
</div>



{% endblock %}
